{{ if isset .Site.Params "banner" }}
{{ if .Site.Params.banner.enable }}
<section>

        <div class="main-banner">   
            <img src="{{ .Site.BaseURL }}img/unsplash-health.jpg" class="image-responsive">    
            <div class="bottom-right "><h1 class="text-size text-center">{{ .Site.Params.banner.Libre }} <span class="{{ .Site.Params.banner.icon }} red"></span> {{ .Site.Params.banner.Health }}
            </h1>
                <p class="banner-p">{{ .Site.Params.banner.para }}</p>
            </div>        
        </div>
</section>
{{end}}
{{end}}

