
<section>

        <div class="main-banner">
            
            <img src="{{ .Site.BaseURL }}img/unsplash-health.jpg" class="image-responsive">    
            
            <div class="bottom-right "><h1 class="text-size text-center">Libre <span class="glyphicon glyphicon-plus red"></span> Health</h1>
                <p class="banner-p">LibreHealth is collaborative community for free & open source software projects in Health IT, and is a member project of Software Freedom Conservancy.</p>
            </div>
          
    
        </div>
</section>

