{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle }}
                </p>

                <ul>
                    <li class="bullets">
                        {{ range .Site.Data.clients }}
                        {{if .url}}
                        <a href="{{.url}}">
                          <img src="{{ .image }}" alt="{{ .name }}" class="rounded-circle" />
                          <span class="text-center">{{.name}}</span>
                          </a>
                          {{else}}
                          <img src="{{ .image }}" alt="{{ .name }}" class="rounded-circle" />
                          <span class="text-center">{{.name}}</span>
                        {{ end }}
                        {{end}}
                    </li>
                </ul>

                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
