<footer id="footer">
    <div class="container">
        <div class="row">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-6 col-sm-6 ">
            <h4 class="pt">About us</h4>
            <p class="text-center">
            {{ .Site.Params.about_us | safeHTML }}
            </p>
            <hr class="hidden-md hidden-lg hidden-sm">
        </div>
        
        <!-- /.col-md-4 -->
      


        <!-- /.col-md-4 -->
       
        <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 pt">
                <div class="icons">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        
    
        </div>
        <!-- /.col-md-4 -->
        {{ end }}
        </div>

    </div>
    <!-- /.container -->
    <div class="container-fluid text-center  " id ="icons-footer">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up up-icon  "></span>
        </a>
    </div>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<!--<div id="copyright">
    <div class="container">
        <div class="col-md-12 text-center">
         
          <p> {{ .Site.Params.copyright | safeHTML }}</p>
          

        </div>
    </div>
</div>-->
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->

