<section>
    
   <div class="container">
       <div class="row">
            <h1 class="text-center feature-text" >LibreHealth Projects</h1>
            <hr></hr>
        
        </div>
   </div>
   <div class="container">
    <div class="row" id="mt" >
        <div class="col-12 col-sm-4 project-text">
            <h2>LibreHealth EHR</h2>
                <p >The LibreHealth EHR application is a clinically-focused electronic health record (EHR) system designed to be both easy to use "out of the box" and also customizable for use in a variety of health care settings. </p>
        </div>
        <div class="col col-sm-8 ">
            <img src="img/carousel/librehealth-EHR.png" class="img-responsive project-image-size float-right">
        </div>
    </div>
    <div class="row" id="mt">
        <div class="col col-sm-8">
            <img src="img/carousel/radiology-info-sys.png" class=" img-responsive project-image-size float-left" >
        </div>
        <div class="col-12 col-sm-4 project-text">
            <h2 >LibreHealth Radiology</h2>
                <p >The LibreHealth Radiology is an open source Radiology Information System, that is written for the LibreHealth Toolkit and manages the clinical workflow of a radiology department. </p>
        </div>   
    </div>
    <div class="row" id="mt">
        <div class="col-12 col-sm-4 project-text">
            <h2 >LibreHealth toolkit</h2>
                <p>The LibreHealth Toolkit software serves as the foundational API and data model for Health IT applications </p>
        </div>
        <div class="col col-sm-8 ">
            <img src="img/carousel/LH-REST-screen.png" class=" img-responsive project-image-size float-right">
        </div>
    </div>
    <div class="row " id="mt">
       <div class="col col-sm-6  col-md-8">
            <img src="img/carousel/LH-REST-screen.png" class=" img-responsive project-image-size float-left" >
        </div>
        <div class="col-12 col-sm-6 col-md-4 project-text ">
            <h2>LibreHealth toolkit API</h2>
                <p>The LibreHealth Toolkit has a powerful REST API along with web components that can be assembled by non-developers to create Health Information Systems that puts patient care in the forefront. </p>
        </div>    
    </div>
    </div>
</section>