{{ if isset .Site.Params "projects_sec1" }}
{{ if .Site.Params.projects_sec1.enable }}

<section>    
   <div class="container">
       <div class="row">
            <h1 class="text-center feature-text" >{{ .Site.Params.projects_sec1.title }}</h1>
            <hr></hr>
        </div>
   </div>
   <div class="container">
    <div class="row" id="mt" >
        <div class="col-12 col-sm-4 project-text">
            <h2>{{ .Site.Params.projects_sec1.subtitle }}</h2>
                <p >{{ .Site.Params.projects_sec1.para }}</p>
        </div>
        <div class="col col-sm-8 ">
            <img src="{{ .Site.Params.projects_sec1.img }}" class="img-responsive project-image-size float-right">
        </div>
    </div>
    <div class="row" id="mt">
        <div class="col col-sm-8">
            <img src="{{ .Site.Params.projects_sec1.img2 }}" class=" img-responsive project-image-size float-left" >
        </div>
        <div class="col-12 col-sm-4 project-text">
            <h2 >{{ .Site.Params.projects_sec1.subtitle2 }}</h2>
                <p >{{ .Site.Params.projects_sec1.para2 }} </p>
        </div>   
    </div>
    <div class="row" id="mt">
        <div class="col-12 col-sm-4 project-text">
            <h2 >{{ .Site.Params.projects_sec1.subtitle3 }}</h2>
                <p>{{ .Site.Params.projects_sec1.para3 }} </p>
        </div>
        <div class="col col-sm-8 ">
            <img src="{{ .Site.Params.projects_sec1.img3 }}" class=" img-responsive project-image-size float-right">
        </div>
    </div>
    <div class="row " id="mt">
       <div class="col col-sm-6  col-md-8">
            <img src="{{ .Site.Params.projects_sec1.img4 }}" class=" img-responsive project-image-size float-left" >
        </div>
        <div class="col-12 col-sm-6 col-md-4 project-text ">
            <h2>{{ .Site.Params.projects_sec1.subtitle4 }}</h2>
                <p>{{ .Site.Params.projects_sec1.para4 }} </p>
        </div>    
    </div>
    </div>
    {{end}}
    {{end}}
</section>